@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 300ms ease;
  font-family: "Poppins", sans-serif;
  --ivory: #f8f9fa;
  --dark: #212529;
  --yellow: #e29d35;
}
.wrapper {
  width: 100%;
  min-height: 100vh;
  background: var(--ivory);
  padding: 20px;

  h1 {
    padding: 3.75rem 0 1.875rem 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }
}
.inner-wrapper {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.questions {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  border: 2px solid #9c9c9c;
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  .question-answer {
    h5 {
      padding: 20px 0 20px 0;
    }

    label {
      padding: 10px 20px 10px 20px;
    }

    .choices {
      width: 100%;
      text-align: justify;
      display: flex;
      justify-content: start;
      flex-wrap: wrap;
    }
    .form-control {
      width: 100%;

      appearance: listbox;
    }
  }
}
.blood-pressure {
  h3 {
    padding: 20px 0 20px 0;
  }

  .systolic,
  .diastolic,
  .pulse,
  .temperature {
    width: 100%;
    max-width: 400px;
  }

  h5 {
    padding: 20px 0 0 0;
  }
  label {
    padding: 0 0 20px 0;
  }
}

.btn-grp {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;

  .btn-submit {
    padding: 10px 20px 10px 20px;
    border-radius: 12px;
    background: green;
    color: var(--ivory);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border: 1px solid var(--dark);

    &:hover {
      filter: brightness(1.2);
    }
  }
  .btn-edit {
    padding: 10px 20px 10px 20px;
    border-radius: 12px;
    background: #007bff;
    color: var(--ivory);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border: 1px solid var(--dark);
    &:hover {
      filter: brightness(1.2);
    }
  }
}

input[type="number"] {
  width: 80px;
  text-align: center;
  appearance: text !important;
  font-size: 18px;
  padding: 3px 0 3px 0;
  outline: none !important;
  border: 2px solid #9c9c9c;
  outline: none !important;
  &:focus {
    border: 2px solid #e29d35;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
